/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* Body styling */
body {
    background-color: #B5E0C3;
    font-family: 'Merriweather', serif;
    text-align: center;
    min-height:100vh;
    margin:0;
    flex-direction: column;
    display:flex;
}
/* Main content area styling */
main {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
/* Logo styling */
.logo {
    max-width:10%;
}
/* Quote area styling */
#quote-container {
    text-align: center;
    background-color: white;
    width: 80%;
    max-width: 600px;
    padding:30px;
    border-radius:10px;
}
/* Description styling*/

#description {
    color: grey;
}

/* Quote box styling */
.quote-box {
    background-color: white;
    padding: 20px;
    border-radius:5px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.25);
    height:130px;
    justify-content:center;
    align-items:center;
    display:flex;
    flex-direction:column;
}

/* Quote Styling */
#quote {
    font-size:20px;
}

/* Author styling */
#author {
    font-size: 18px;
    font-family: cursive;
    font-weight: bold;
}
/* Button styling */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
#generate-new-quote, #copy-quote {
    padding: 10px 20px;
    background-color: #059669;
    color:white;
    border-radius: 5px;
    border:none;
    font-size: 1rem;
    cursor: pointer;
    margin-top:30px;
}

#generate-new-quote:hover, #copy-quote:hover {
    background-color: darkgreen;
}

#favorite-quote {
    font-size: 1rem;
    background:none;
    border: none;
    color:gold;
    cursor:pointer;
    margin-top:20px;
}

#favorite-quote:hover {
    color: darkorange;
}

/* Favorites container styling */
#favorites-container {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin-top:30px;
    border-radius:10px;
    box-shadow: 0 12px 16px rgba(0,0,0,0.25);
    text-align: left;
    max-height: 300px;
    overflow-y:auto;
}

#favorites-container h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: darkgreen;
}

#favorites-list {
    list-style-type:none;
    padding:0;
    margin:0;
}

#favorites-list li {
    background-color: #f0f4f8;
    padding:10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#favorites-list li button {
    background-color: #059669;
    color:white;
    border:none;
    border-radius:5px;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer; 
    margin-left:10px;
}

#favoirtes-list li button:hover {
    color: darkgreen;
}

/* Footer styling */
footer {
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    flex-shrink: 0;
}

/* Footer list styling */ 

footer ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
/* Footer list item styling */
footer li {
    font-size: 1.5em;
    display: inline-block;
    margin:0 25px;
}


/* Social media icon styling */
i {
    color:white;
}

/* Media query for responsive design */ 
@media (max-width: 768px) {
    #quote-container, #favorites-container {
        width:80%;
        padding:20px;
    }
    #quote {
        font-size: 16px;
    }
    #author {
        font-size:12px;
    }
    #generate-new-quote, #copy-quote, #favorites-list li button {
        font-size: 1rem;
        padding: 10px 20px;
    }
    h1 {
        font-size:20px;
    }
}

@media (max-width: 480px) {
    .button-container {
        flex-direction:column;
        align-items: center;
    }
    #generate-new-quote, #copy-quote, #favorites-list li button {
        width: 100%;
        max-width: 200px;
    }
    #favorites-list li {
        flex-direction: column;
        align-items: center;
        text-align:center;

    }
    #favorites-list li button {
        width:100%;
        max-width:200px;
        margin-top:20px;
    }
}