/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* body styling */
body {
    background-color: #B5E0C3;
    font-family: 'Merriweather', serif;
    text-align: center;
    min-height:100vh;
    margin:0;
    flex-direction: column;
    display:flex;
}
main {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:vcolumn;
}
/* logo styling */
.logo {
    max-width:10%;
}
/* quote area styling */
#quote-container {
    text-align: center;
    background-color: white;
    margin: 50% auto;
    width: 80%;
    max-width: 600px;
    padding:30px;
    border-radius:10px;
}

#description {
    color: grey;
}

.quote-box {
    background-color: white;
    padding: 20px;
    border-radius:5px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.25);
    height:130px;
    justify-content:center;
    align-items:center;
    display:flex;
    flex-direction:column;
}

/* quote styling */
#quote {
    font-size:20px;
}
/* author styling */
#author {
    font-size: 18px;
    font-family: cursive;
    font-weight: bold;
}
/* new quote generator button styling */
#generate-new-quote {
    padding: 10px 20px;
    background-color: #059669;
    color:white;
    border-radius: 5px;
    border:none;
    font-size: 1.5rem;
    margin-top:30px;
}

#generate-new-quote:hover {
    background-color: darkgreen;
}

/*Footer styles */
footer {
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    flex-shrink: 0;
}

footer ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

footer li {
    font-size: 1.5em;
    display: inline-block;
    margin:0 25px;
}

i {
    color:white;
}

@media (max-width: 768px)) {
    #quote-container: {
        width:80%;
        padding:20px;
    }
    #quote {
        font-size: 16px;
    }
    #author {
        font-size:12px;
    }
    #generate-new-quote {
        font-size: 1rem;
        padding: 10px 20px;
    }
}