/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* body styling */
body {
    background-color: #B5E0C3;
    font-family: 'Merriweather', serif;
    text-align: center;
    min-height:100vh;
    margin:0;
    flex-direction: column;
    display:flex;
}
main {
    flex:1;
}
/* logo styling */
.logo {
    max-width:10%;
}
/* quote area styling */
#quote-container {
    text-align: center;
    margin: 100px;
}
/* quote styling */
#quote {
    font-size:30px;
    margin:10px;
}
/* author styling */
#author {
    font-size: 24px;
    font-family: cursive;
    font-weight: bold;
}
/* new quote generator button styling */
#generate-new-quote {
    padding: 10px 20px;
    background-color: beige;
    border-radius: 30px;
    font-size: 1.5rem;
}

/*Footer styles */
footer {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    flex-shrink: 0;
}

footer ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

footer li {
    font-size: 1.5em;
    display: inline-block;
    margin:0 25px;
}

i {
    color:white;
}

@media (max-width:320px) {
#quote-container {
    width:50%;
}
}